:root {
    --border-color: rgba(175, 175, 206, 0.744);
}

#TestPg {
    padding: 1em;
    margin: 1em;
    width: min(95%, 800px);
    margin-inline: auto;
    background-color: rgba(218, 218, 221, 0.174);
    border-radius: 12px;
}

#TestPg #testDetails {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 12px 2em;
}

#TestPg #questionNo {
    font-family: 'Lucida Sans', 'Lucida Grande';
}

#TestPg #question {
    width: 95%;
    overflow: auto;
    margin-inline: auto;
    background-color: var(--darkBodyBack);
    padding: 12px;
    border: 1px solid rgba(132, 132, 176, 0.577);
    border-radius: 10px;
}

#TestPg #options {
    text-align: left;
    padding: 8px;
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}
#TestPg .options-option >label {
    display: flex;
    justify-content: left;
    gap: 12px;
    align-items: center;
}

#TestPg .navoptions {
    text-align: left;
    padding: 8px;
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
}

#TestPg .navoptions #nxtprev>span:hover {
    background-color: var(--border-color);
    color: var(--darkBodyBack);
}

#TestPg .navoptions #submit:hover {
    background: rgba(65, 196, 65, 0.614);
}

#TestPg .navoptions #submit,
#TestPg .navoptions #nxtprev>span {
    transition: 0.2s;
    padding: 5px 12px;
    margin-inline: 2px;
    border-radius: 5px;
    background: #c3bdbd29;
}